<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd">

	<!-- component-scan自动搜索@Component , @Controller , @Service , @Repository等标注的类 -->
	<context:component-scan base-package="com.lf.service.**" use-default-filters="false">
		<context:include-filter type="annotation" expression="org.springframework.stereotype.Service" />
		<context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller" />
	</context:component-scan>
	
	<!-- 注册SpringContextHelper帮助类，可以通过getBean静态方法获取相应的对象-->
	<bean id="springContextHelper" class="com.lf.helper.SpringContextHelper"/>
	
	
	<!-- SnowflakeId生成算法 -->
	<bean id="idGenerator" class="com.lf.manager.id.SnowflakeIdGenerator" >
         <constructor-arg name="workerId" value="${workerId}"/>
         <constructor-arg name="datacenterId" value="${datacenterId}"/>
 	</bean>
 	<!-- UUID生成算法 -->
	<!-- <bean id="idGenerator" class="com.lf.manager.id.UUIDGenerator" /> -->
 	
	<!-- 主键id管理器 -->
	<bean id="idManager" class="com.lf.manage.IdManager" >
		<!-- 如果不配置，则默认采用时间毫秒数生成算法 -->
        <!--  <property name="idGenerator" ref="idGenerator"/> -->
 	</bean>
 	
 	
	
</beans>
